@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(231, 238, 245);
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}

::selection {
  background-color: rgba(255, 255, 0, 0.57);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  /* border-radius: 7px; */
  font-weight: 600;
  font-size: large;
  position: sticky;
  top: 0;
  height: 70px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.795);
}

/* #white-space {
  position: sticky;
  top: 0;
  background-color: white;
  height: 10px;
} */

.header-section {
  display: flex;
  align-items: center;
  width: 50%;
}

#logo-header {
  border-radius: 50%;
  height: 50px;
  margin: 10px;
  margin-right: 40px;
  border: 5px black solid;
}

ul {
  list-style: none;
}

nav {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

#nav-ul {
  padding: 0;
  display: flex;
  /* justify-content: space-between; */
  /* border: 3px solid yellow; */
  width: 50%;
}

#nav-ul li {
  margin-right: 30px;
  /* width: 50%; */
  /* border: 3px solid black; */
}

.header-link {
  /* background-color: rgb(198, 198, 198); */
  padding: 10px;
  width: 100px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  border-bottom: 3px solid #00000000;
  transition: all 0.1s ease-out;
  /* border-radius: 7px; */
}

.header-link:hover {
  background-color: #03074b1c;
  /* border-bottom: 3px solid #00000000; */
}

.header-link.clicked {
  background-color: #03074b29;
  /* border-bottom: 3px solid #00000000; */
}

#selected {
  /* background-color: rgb(117, 117, 117); */
  border-bottom: 3px solid black;
}

#log-in-button {
  width: 70px;
  /* border: 3px solid black; */
  margin-left: auto;
  margin-right: 10px;
  padding: 7px;
  text-decoration: none;
  color: black;
  text-align: center;
  background-color: rgb(196, 72, 72);
  border-radius: 7px;
  transition: all 0.1s ease-out;
}

#log-in-button:hover {
  background-color: rgb(181, 57, 57);
}

#log-in-button.clicked {
  background-color: rgb(171, 47, 47);
}

#hero {
  background-image: url(../images/hero-money.jpg);
  /* width: 98%; */
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: white;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black;
  text-align: center;
}

main {
  margin-top: 50px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
}

section {
  font-weight: 600;
  font-size: large;
  /* display: flex; */
  /* justify-content: space-between; */
  /* border: 3px solid black; */
  margin-top: 50px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  /* width: 100%; */
  background-color: white;
  height: 350px;
}

.section-gray {
  background-color: lightblue;
}

.section-data-hantering {
  text-align: center;
  display: flex;
  justify-content: center;
}

.div-data-hantering {
  padding: 50px;
  width: 60%;
}

h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
}

.section-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  /* border: 3px solid black; */
}

section p {
  width: 50%;
  text-wrap: pretty;
  /* border: 3px solid gray; */
  display: flex;
  align-items: center;
}

.right-align {
  text-align: right;
}

section img {
  height: 180px;
  border-radius: 10px;
}

.log-in-section {
  padding-top: 1px;
  height: 500px;
}

#log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(231, 238, 245);
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 400px;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}

.log-in-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

.log-in-content input {
  height: 20px;
}

.input-text {
  text-align: center;
}

#to-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: lightblue;
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}

#to-top p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  width: 100%;
  min-height: 200px;
  margin-top: 100px;
  padding-top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  height: 50px;
}

.footer-links {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

@media screen and (max-width: 800px) {
  .p-img-order {
    flex-direction: column-reverse;
  }
  .img-p-order {
    flex-direction: column;
  }
  section {
    padding-bottom: 150px;
  }
  .section-content {
    justify-content: center;
    align-items: center;
  }
  .section-image {
    width: 50%;
    height: auto;
  }
  section p {
    width: 99%;
    margin-top: 20px;
    text-align: center;
  }
  .right-align {
    text-align: center;
  }
  header {
    display: none;
  }
  footer {
    height: 240px;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }
}
